<body>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <label for="rePassword">Repeat password:</label>
        <input type="password" name="rePassword" id="rePassword" required>
        <input type="submit" value="Register">
        <a href="/login" style="display:flex;">Already have an account? Go to login</a>
    </form>
</body>